<h1>Edit User</h1>

<%= form_with model: @user, local: true do |f| %>

  <% if @user.errors.any? %>
    <h3> <%= pluralize(@user.errors.count, 'error') %> prevented this from saving </h3>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Enter username" %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Enter email" %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Enter password" %>
  </p>
  <%= f.submit "Update User" %>
<% end %>
